<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.log4mongo.ExtendedMongoDbAppender" name="MongoDB">
        <param name="collectionName" value="extendedlog4mongotest"/>
        <param name="databaseName" value="logevents"/>
        <param name="hostname" value="localhost"/>
        <param name="port" value="27017"/>
        <param name="rootLevelProperties" value="applicationName=MyProject&amp;eventType=Development"/>
    </appender>

    <root>
        <level value="all"/>
        <appender-ref ref="MongoDB"/>
    </root>

</log4j:configuration>